.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.display{
    background-color: whitesmoke;
    height: 80px;
    display: flex;
    width: 228px;
}

.red-btn{
    width: 58px;
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 35px;
    border: 1px solid black;
}

.num-btns{
    border: 1px solid black;
    width: 58px;
    height: 50px;
    font-size: 35px;
}

#input{
    background-color: whitesmoke;
    color: darkblue;
    text-align: right;
    width: 228px;
    font-size: 20px;
}